<form [formGroup]="testFormGroup">
    <div>
        <mat-form-field>
            <mat-label>Name*</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Enter your name">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Age*</mat-label>
            <input matInput type="number" formControlName="name" placeholder="Enter your age">
        </mat-form-field>
    </div>

    <div>
        <app-address formGroupName="address"></app-address>
    </div>
</form>